/* Import Nagoda font */
@import url('https://fonts.googleapis.com/css2?family=Nagoda:wght@400;500;600;700&display=swap');

body {
    font-family: 'Nagoda', sans-serif;
}

/* Utility classes for font styles */
.bold {
    font-weight: 700;
}

.semi-bold {
    font-weight: 600;
}

.medium {
    font-weight: 500;
}

.regular {
    font-weight: 400;
}

.italic {
    font-style: italic;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}

/* Utility classes for font sizes */
.drop-cap::first-letter {
    -webkit-initial-letter: 4;
            initial-letter: 4;
    color: #cee6f4;
    font-weight: bold;
    margin-right: .75em;
}

.text-xs {
    font-size: 0.75rem; /* 12px */
}

.text-sm {
    font-size: 0.875rem; /* 14px */
}

.text-base {
    font-size: 1rem; /* 16px */
}

.text-lg {
    font-size: 1.125rem; /* 18px */
}

.text-xl {
    font-size: 1.25rem; /* 20px */
}

.text-2xl {
    font-size: 1.5rem; /* 24px */
}

.text-3xl {
    font-size: 1.875rem; /* 30px */
}

.text-4xl {
    font-size: 2.25rem; /* 36px */
}

.text-5xl {
    font-size: 3rem; /* 48px */
}

/* 6xl */
.text-6xl {
    font-size: 3.75rem; /* 60px */
}

/* 7xl */
.text-7xl {
    font-size: 4.5rem; /* 72px */
}

/* 8xl */
.text-8xl {
    font-size: 6rem; /* 96px */
}

/* 9xl */
.text-9xl {
    font-size: 8rem; /* 128px */
}

/* 10xl */
.text-10xl {
    font-size: 10rem; /* 160px */
}

/* 11xl */
.text-11xl {
    font-size: 12rem; /* 192px */
}

/* 12xl */
.text-12xl {
    font-size: 14rem; /* 224px */
}

/* Utility classes for text alignment */
.justify {
    text-align: justify;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

/* Utility classes for text colors */
.white {
    color: #ffffff;
}

.black {
    color: #000000;
}

.red {
    color: #ff0000;
}

.green {
    color: #91ddcf;
}

.blue {
    color: #0000ff;
}

.yellow {
    color: #ffff00;
}

.pink {
    color: #f19eb9;
}

.shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
/* Add more color classes as needed */